<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Book Review</title>
</head>
<body>
    <header>
        <nav>
            <div class="menu-bar container">
                <a class="logo" href="{{ url_for('index') }}">Book Review</a>
                <ul>
                    <li>
                        <a href="{{ url_for('books') }}">Search</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">

        <h1 class="mt-5">{% block heading %}{% endblock %}</h1>

        <section>
            {% block body %}
            {% endblock %}
        </section>

    </main>

</body>
</html>










